*.vrb
/auto/
/putting-lenses-to-work.aux
/putting-lenses-to-work.log
/putting-lenses-to-work.nav
/putting-lenses-to-work.out
/putting-lenses-to-work.snm
/putting-lenses-to-work.toc
/putting-lenses-to-work.upa
/Lenses.hs
/putting-lenses-to-work.tex
/_minted-putting-lenses-to-work/
